# Used in development
# It adds a default working DB_PASSWORD between the db and the app that can however be overriden
# It also exposes the port 9000 for easy access to the app locally

services:
  app:
    environment:
      DB_PASSWORD: password
      DB_URL: "jdbc:postgresql://db:5432/listan_dev"
      CRYPTO_SECRET: "${CRYPTO_SECRET}"
      JWT_SECRET: "${JWT_SECRET}"
    ports:
      - "9000:9000"
    build:
      context: .
      dockerfile: Dockerfile.dev
    tty: true
    volumes:
      - .:/app

  db:
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: listan_dev

  frontend:
    ports:
      - "80:80"
    build:
      args:
        WS_API_URL: "api/ws"
        LOGIN_URL: "/api/login"
